<h1>hi</h1>
<form
  #form="ngForm"
  (ngSubmit)="onSubmit()">
  <label>
    Darlehen: in Euro
    <input type="number" required
      #spy="ngModel"
      [(ngModel)]="input.darlehen" name="darlehen">
      <div [hidden]="!verbose">the current class is {{spy.className}}</div>
      <div class="error"
        [hidden]="spy.valid || spy.pristine">
          Error
      </div>
  </label>
  <label>
    Inflation: in %
    <input type="number" required step="any"
      [(ngModel)]="input.inflation" name="inflation">
  </label>
  <label>
    Sollzins: in %
    <input type="number" required step="any"
      [(ngModel)]="input.sollzins" name="sollzins">
  </label>
  <label>
    Tilgung: in %
    <input type="number" required step="any"
      [(ngModel)]="input.tilgung" name="tilgung">
  </label>
  <label>
    Laufzeit: in Jahren
    <input type="number" required step="any"
      [(ngModel)]="input.laufzeit" name="laufzeit">
  </label>
  <button type="submit" class="btn btn-default"
    [disabled]="form.form.invalid"
    >Submit</button>
  <button type="button" class="btn btn-default"
    (click)="form.reset()">Reset</button>
  <button type="button"
    (click)="toggleVerbose()">Verbose</button>
</form>

<pre
  [hidden]="!verbose">{{diagnostic}}
</pre>

<ul>
  <li><b>so günstige Zinsen wie nie (wegen EZB Kurs und Euro-Krise)! Mehr Eigenkapital macht günstigere Zinsen.</b> Spannende Kommentare zu Immobilienpreisen - http://www.focus.de/immobilien/finanzieren/baugeld-vergleich/baufinanzierung_aid_18735.html</li>
  <li>10 tipps - https://www.berlin.de/special/finanzen-und-recht/geldanlagen-und-kredite/2683510-2625158-immobilienkauf-10-tipps-fuer-die-richtig.html</li>
  <li>Finanzierungsrechner
  <ul>
    <li>Immowelt - https://www.immowelt.de/immobilien/finanzierungsrechner.aspx</li>
    <li>Immobilienscout 24 - https://www.immobilienscout24.de/baufinanzierung/finanzierungsrechner/?cmp_id=10-02404</li>
    <li>Nicht so geil - http://finanzrechner-eigenheim.faz.net/rechner2/faz/eigenheim1.aspx</li>
    <li>Noch einer - http://www.focus.de/immobilien/interhyp/interhyp-baufinanzierungsberatung-budgetrechner-fuer-eine-runde-baufinanzierung_id_5763018.html?view=showBudget&LAF_PARTNER=FOCUS</li>
  </ul>
  <li> Papa </li>
    <li> Mietersparnisse - http://www.focus.de/immobilien/kaufen/wohnkosten-studie-des-iw-koeln-bis-zu-67-prozent-miet-ersparnis-warum-sie-jetzt-noch-eine-immobilie-kaufen-sollten_id_6271630.html</li>
    <li>Gesamtpolitische Lage - http://www.sueddeutsche.de/wirtschaft/immobilien-wann-der-hauskauf-lohnt-und-wann-mieten-billiger-ist-1.3270432</li>
  <li> Interhyp </li>
  <ul>
    <li>Tipps - http://www.interhyp.de/bauen-kaufen/tipps-zur-finanzierung/eigenkapital.html</li>
    <li>Rechner und Beispiele - http://www.interhyp.de/budgetrechner/</li>
  </ul>
  <li>Dr. Klein - Anschlussfinanzierung
    - https://www.drklein.de/blog/baufinanzierung-fuer-einsteiger-die-moegliche-hoehe-der-finanzierung-berechnen/</li>
  <li>Inflationshistorie
    - http://www.inflation-deutschland.de/inflationsrechner.html</li>
  <li>Jährliche Inflationsraten
    - https://www.destatis.de/DE/ZahlenFakten/GesamtwirtschaftUmwelt/Preise/Verbraucherpreisindizes/Verbraucherpreisindizes.html</li>
  <li>Zinsrechner (auch negativzins für Inflation)
    - http://www.zinsen-berechnen.de/zinsrechner.php </li>
  <li>Zinsentwicklung</li>
  <ul>
    <li>http://www.finanztip.de/baufinanzierung/zinsprognose/</li>
    <li>http://www.interhyp.de/zins-charts/</li>
  </ul>
</ul>

